{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <h1 class="center-text">Enter Topic and Essay for Prediction</h1>
    <form method="post" class="mt-4">
        <div class="mb-3">
            <label for="topic" class="form-label">Essay Topic:</label>
            <input type="text" id="topic" name="topic" class="form-control">
        </div>
        <div class="mb-3">
            <label for="essay" class="form-label">Essay Content:</label>
            <textarea id="essay" name="essay" class="form-control" rows="8"></textarea>
        </div>
        <div class="btn-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{% endblock %}
